* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

.home__image > img {
  min-width: 100%;
  height: 800px;
  object-fit: cover;
}

.intro__content {
  display: flex;
  padding: 10px;
}

.intro__content img {
  width: 50%;
  overflow-x: hidden;
}

.into__text {
  width: 30%;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
}

.into__text__after {
  opacity: 1;
  transform: translateY(0px);
}
